@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root{
    --Dark-01: #131313;
    --Dark-02: #424242;
    --Dark-03: #727272;
}

/* Universal css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    line-height: normal;
    color: var(--Dark-01);
}
.container {
    width: 75%;
    margin: 0 auto;
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 24px;
    margin-top: 2rem;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.bottom{
    margin-bottom: 50px;
}
.center{
    text-align: center;
}

/* HEADER SECTION CSS */

header{
    background: rgba(255, 144, 14, 0.10);
    height: auto;
}

nav{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1{
    font-size: 45px;
    font-weight: 700;
}

.menu ul{
    display: flex;
    gap: 2rem;
}
.menu ul li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: var(--Dark-02);
    font-style: 18px;
    font-weight: 500;
    line-height: 26px;
}
.banner{
    margin-top: 6.5rem;
}
.banner h1{
    font-size: 64px;
    font-weight: 700;
}
.banner p{
    color: var(--Dark-03);
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 1.5rem;
}

.banner-img img{
    width: 100%;
    height: auto;
    padding-bottom: 45px;
}