@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root{
    --Dark-01: #131313;
    --Dark-02: #424242;
    --Dark-03: #727272;
}

/* Universal css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    line-height: normal;
    color: var(--Dark-01);
}
.container {
    max-width: 75%;
    margin: 0 auto;
}

p{
    color: var(--Dark-03);
    line-height: 1.625rem;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.btn-primary {
    border-radius: 0.5rem;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    margin-top: 2rem;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.bottom{
    margin-bottom: 3.125rem;
}
.center{
    text-align: center;
}
.heading {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
/* HEADER SECTION CSS */

header{
    background: rgba(255, 144, 14, 0.10);
    height: auto;
    width: 100%;
}

nav{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .h1{
    text-decoration: none;
    font-size: 2.8125rem;
    font-weight: 700;
}

.menu ul{
    display: flex;
    gap: 2rem;
}
.menu ul li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: var(--Dark-02);
    font-style: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}
.banner{
    margin-top: 6.5rem;
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
}


.banner-img img{
    width: 100%;
    height: auto;
    padding-bottom: 2.8125rem;
}


/* FEATURES SECTION OF MAIN MENU  */

.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4.5rem;
    height: auto;
    margin-bottom: 9rem;
}
.img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.img-grid img{
    width: 100%;
    height: auto;
}

h1{
    margin-bottom: 1.5rem;
}
h1 .quick{
    font-size: 2.8125rem;
    color: var(--Dark-03);
    font-weight: 500;
}

h1 .our{
    font-size: 2.8125rem;
    color: var(--Dark-01);
    font-weight: 700;
}
h1 .feat{
    font-size: 2.8125rem;
    color: #FF900E;
    font-weight: 700;
}

/* SOME FACTS SECTION  */

.cards{
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}
.card{
    border-radius: .5rem;
    border: 1px solid #FF900E;
    padding: 2rem 1rem;
}


.card h3{
    font-size: 3.125rem;
    font-weight: 600;
    color: var(--Dark-02);
}
.card p{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--Dark-03);
    margin: 0;
}


/* SPONSOR SECTION  */

.sponsors{
    margin-top: 11rem;
}
.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    cursor: pointer;
    gap: 3rem;
}

.brands img{
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}
.brands img:hover{
    filter:grayscale(0%)
}




/* FOOTER SECTION  */

footer > p{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background: #FFF4E7;
    padding: 2.5rem;
    margin-bottom: 9.5rem;
}




/* Mobile Device Responsive */

@media (width <=768px) {
    nav{
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .brand > a{
        text-align: center;
    }
    .menu > ul{
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
    }
    .banner h1{
        font-size: 2rem;
    }
    .banner p{
        font-size: 0.5rem;
    }
    .btn-primary{
        font-size: 0.75rem;
        padding: 0.625rem 0.75rem;
        margin-top: 2rem;
    }

    .features, .img-grid, .cards, .brands{
        display: flex;
        flex-direction: column;
    }
    .cards{
        max-width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .img-grid{
        width: 100%;
    }
}

/* Tablet Device Responsiveness */

@media (768px < width <=1070px) {
    .img-grid img{
        width: 100%;
    }
    .features, .cards, .brands{
        display: flex;
        flex-direction: column;
    }
}
